﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.StaffCourseAllocationViewModel
@{
    ViewBag.Title = "GetResultUploadLog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        <div>            
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            } 
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-calendar"></i>Result Upload Log</h3>
            </div>
            <div class="panel-body">
                @if (Model.StudentResultList.Count == 0 || Model.StudentResultList == null)
                {
                    return;
                }
                else
                {
                        <table class="table table-responsive table-striped">
                            <tr>
                                <th>Uploader</th>

                                <th>Date Uploaded</th>

                                <th>Programme</th>

                                <th>Level</th>

                                <th>Department</th>

                                <th>Session</th>

                                <th>Semester</th>

                                <th>File Uploaded</th>
                            </tr>
                            @for (int i = 0; i < Model.StudentResultList.Count; i++)
			                {
			                   <tr>
                                   <td>@Model.StudentResultList[i].Uploader.Username</td>

                                   <td>@Model.StudentResultList[i].DateUploaded.Date.ToShortDateString().ToString()</td>

                                   <td>@Model.StudentResultList[i].Programme.Name</td>

                                   <td>@Model.StudentResultList[i].Level.Name</td>

                                   <td>@Model.StudentResultList[i].Department.Name</td>

                                   <td>@Model.StudentResultList[i].SessionSemester.Session.Name</td>

                                   <td>@Model.StudentResultList[i].SessionSemester.Semester.Name</td>

                                   <td>@Html.ActionLink("Download", "DownloadResultUploadLogFile", new { controller = "StaffCourseAllocation", area = "Admin", id = Model.StudentResultList[i].Id}, new { @class = "btn btn-success btn-small mr5" })</td>
                               </tr>
			                }
                        </table>
                }
            </div>
        </div> 
    </div>

    <div class="col-md-1"></div>
</div>

