﻿@model Abundance_Rm.Areas.Admin.ViewModel.MenuViewModel
@{
    ViewBag.Title = "Add Menu Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">

    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", TempData["Message"])
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Add Menu Group
            </h4>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("AddMenuGroup", "Menu", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(m => m.MenuGroup.Name, " Menu Group", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.MenuGroup.Name, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.MenuGroup.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.MenuGroup.Activated, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(m => m.MenuGroup.Activated, new { @class = "form-group", required = "required" })
                                @Html.ValidationMessageFor(m => m.MenuGroup.Activated, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-Top:2px">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>