﻿@using Antlr.Runtime.Tree
@model Abundance_Rm.Areas.Admin.ViewModel.TranscriptViewModel

@{
    ViewBag.Title = "Transcript Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>


    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>

    <script type="text/javascript">
        $(function () {


            $.extend($.fn.dataTable.defaults, {
                responsive: false
            });

            $("#myTable").DataTable({
                dom: 'Bfrtip',
                ordering: true,
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        }

                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }


                    }, , 'colvis'
                ]
            });

            $("#submit").click(function () {
                $('#submit').attr('disable', 'disable');
            });
        });

    </script>
}
<br />

<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="alert alert-success fade in nomargin">
                <h3 style="text-align: center">@ViewBag.Title</h3>
            </div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Rm.Model.Model.Message)TempData["Message"])
            }
            @using (Html.BeginForm("SyncRecord", "Transcript", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-12" style="padding-bottom : 3px">
                        <button class="btn btn-success mr5 pull-right" type="submit" name="submit" id="submit"><i class="fa fa-upload"> Sync Record</i></button>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ViewTranscriptRequest", "Transcript", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Department.DepartmentId, "Department", new { @class = "control-label " })
                            @Html.DropDownListFor(model => model.Department.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Department.DepartmentId, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-bottom : 3px">
                        <button class="btn btn-success mr5" type="submit" name="submit" id="submit"><i class="fa fa-search"> Search</i></button>
                    </div>
                </div>
            }

            <br/>
            <br />
            <br />

            @if (Model != null && Model.TranscriptRequests.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered table-striped table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    SN
                                </th>
                                <th>
                                    Student Name
                                </th>
                                <th>
                                    Matric Number
                                </th>
                                <th>
                                    Deparment
                                </th>
                                <th>
                                    Programme
                                </th>
                                <th>
                                    Destination Address
                                </th>
                                <th>
                                    State
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    Date Requested
                                </th>
                                <th>
                                    Transcript Status
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.TranscriptRequests.Count; i++)
                            {
                                int sn = i + 1;
                                <tr>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @sn
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].StudentName
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].MatricNumber
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].Programme.department.Name
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].Programme.ProgrammeType.Name
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].DestinationAddress
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].State.Name
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].Country.Name
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].DateRequested
                                    </td>
                                    <td class="col-lg-3 col-md-3 col-sm-3">
                                        @Model.TranscriptRequests[i].Status
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-add" aria-hidden="true"></span> @Html.ActionLink("Process", "AddResultByTranscriptId", new { RegNo = @Model.TranscriptRequests[i].MatricNumber, area = "admin", controller = "UploadResult" }, new { @class = "btn btn-success", target = "_blank" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ActionLink("Update Record", "UpdateTransciptRequestRecord", new { area = "admin", controller = "Transcript" }, new { @class = "btn btn-success" })
                </div>
            }
        </div>
    </div>

</div>
<div class="col-md-1"></div>
