﻿
@model Abundance_Rm.Areas.Admin.ViewModel.UploadCourseViewModel
@{
    ViewBag.Title = "UploadCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //ProgrammeType Dropdown Selectedchange event
        $("#Programmetype").change(function () {
            $("#Department").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartments", "UploadCourse")', // Calling json method
                dataType: 'json',
                data: { id: $("#Programmetype").val() },
                // Get Selected Country ID.
                success: function (departments) {
                    $("#Department").append('<option value="' + ""+ '">' +
                             '-- Select --' + '</option>');
                    $.each(departments, function (i, department) {
                        $("#Department").append('<option value="' + department.Value + '">' +
                             department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
            return false;
        })


    });
</script>
<div class="row">
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Rm.Model.Model.Message)TempData["Message"])
        }
    </div>
</div>
@using (Html.BeginForm("UploadCourse", "UploadCourse", new { area = "admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"> Course Upload</div>
        <div class="panel-body">
            <div class="row">
                <h3></h3>
                <hr style="margin-top:0" />
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                @Html.LabelFor(model => model.ProgrammeType.Name, new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.ProgrammeType.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeTypeId, new { @class = "form-control", @id = "Programmetype" })
                                @Html.ValidationMessageFor(model => model.ProgrammeType.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                @Html.LabelFor(model => model.Department.Name, new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control", @id = "Department" })
                                @Html.ValidationMessageFor(model => model.Department.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.File, new { id = "file", type = "file", style = "color:transparent;", @class = "form-control custom-text-black" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="text" id="tbx-file-path" readonly="readonly" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col--2"></div>
                            <div class="col-sm-10">
                                <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Upload Excel File" />

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        @if (Model == null || Model.CourseDataList == null) { return; }
        @if (Model.CourseDataList != null && Model.CourseDataList.Count() > 0)
        {
            <table class="table table-bordered table-hover table-striped table-responsive">
                <tr>
                    <th>Level</th>
                    <th>Semester</th>
                    <th>Course Code</th>
                    <th>Course Title </th>
                    <th>Course Unit</th>
                </tr>
                @for (int i = 0; i < Model.CourseDataList.Count(); i++)
                {
                    <tr>
                        <td>@Model.CourseDataList[i].Level   </td>
                        <td>@Model.CourseDataList[i].Semester</td>
                        <td>@Model.CourseDataList[i].CourseCode</td>
                        <td>@Model.CourseDataList[i].CourseTitle</td>
                        <td>@Model.CourseDataList[i].CourseUnit</td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Save", "SaveUpload", new { area = "admin", controller = "UploadCourse" }, new { @class = "btn btn-success" })
        }
    </div>

}








