﻿@model Abundance_Rm.Areas.Admin.ViewModel.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
            <div>
                <p class="text-center"><h3>CREATE USER</h3></p>
            </div>

            @using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default ">
                    <div class="panel-body ">
                        @if (TempData["Message"] != null)
                        {
                            @Html.Partial("_Message", (Abundance_Rm.Model.Model.Message) TempData["Message"])
                        }
                        <div class="col-md-12">
                            <div class="form-group">
                                <h4>Enter Details</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Username,"Username", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.Username, new { @class = "form-control", @placeholder = "Enter Username", @required = "required"})
                                @Html.ValidationMessageFor(model => model.User.Username, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Password, new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.Password, new { @class = "form-control", @placeholder = "Enter Password", @type = "password", @required = "required" })
                                @Html.ValidationMessageFor(model => model.User.Password, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.person.EmailAddress, "Email", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.person.EmailAddress, new { @class = "form-control", @placeholder = "Enter Email Address" })
                                @Html.ValidationMessageFor(model => model.User.person.EmailAddress, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.person.Surname, new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.person.Surname, new { @class = "form-control", @placeholder = "Enter Surname", @required = "required" })
                                @Html.ValidationMessageFor(model => model.User.person.Surname, null, new { @class = "text-danger" })
                            </div>


                            @Html.LabelFor(model => model.User.person.FirstName, "First Name", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.person.FirstName, new { @class = "form-control", @placeholder = "Enter First name", @required = "required" })
                                @Html.ValidationMessageFor(model => model.User.person.FirstName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.person.MiddleName, "Middle Name", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.person.MiddleName, new { @class = "form-control", @placeholder = "Enter Other name" })
                                @Html.ValidationMessageFor(model => model.User.person.MiddleName, null, new { @class = "text-danger" })
                            </div>


                            @Html.LabelFor(model => model.User.person.PhoneNumber, "Phone Number", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.User.person.PhoneNumber, new { @class = "form-control", @placeholder = "080XXXXXXXX", @required = "required" })
                                @Html.ValidationMessageFor(model => model.User.person.PhoneNumber, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.person.Sex, new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.User.person.Sex, (IEnumerable<SelectListItem>)ViewBag.SexList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.User.person.Sex)
                            </div>

                            @Html.LabelFor(model => model.User.Role.Id,"Role", new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.User.Role.Id, (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "form-control", @id = "Role" })
                                @Html.ValidationMessageFor(model => model.User.Role.Id)
                            </div>
                        </div>
                        <br />
                            <div class="form-group">
                                @Html.LabelFor(model => model.User.SecurityQuestion.Id, new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.User.SecurityQuestion.Id, (IEnumerable<SelectListItem>)ViewBag.SecurityQuestionList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.User.SecurityQuestion.Id)
                                </div>

                                @Html.LabelFor(model => model.User.SecurityAnswer, new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.User.SecurityAnswer, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.User.SecurityAnswer)
                                </div>

                            </div>
                        <br />
                            <div class="form-group">
                               
                                @Html.LabelFor(model => model.User.Activated, new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-2">
                                    @Html.CheckBoxFor(model => model.User.Activated, new { @class = ""})
                                    @Html.ValidationMessageFor(model => model.User.Activated)
                                </div>
                             </div>

                                <div class="form-group">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <br /> <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Create" />

                                    </div>
                                </div>
                </div>
              </div>
            }

        </div>
    </div>

</div>

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.print.js"></script>

