﻿@{
    ViewBag.Title = "TranscriptReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/responsive-tabs.js"></script>

    <script type="text/javascript">
               function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
}
  

<div style="color:black">
    <h3>
        Transcript Verification
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Transcript Verification </b> displays an exportable and printable report of the student's results.
    </p>
</div>

<iframe src="@Url.Content("~/Report/Presenter/ResultTranscript.aspx?id=" + (string)ViewBag.StudentId)" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>


<br />
