﻿@model Abundance_Rm.Model.Model.Faculty

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddFaculty","Faculty",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    <br />
    
      <div class="panel panel-danger">
          <div class="panel-heading"><h3>Faculty</h3></div>
          <div class="panel-body">
                @Html.Partial("_ErrorMessage")
              <div class="form-horizontal">

                  <hr />
                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  <div class="form-group">
                      @Html.LabelFor(model => model.Name, "Faculty Name", htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-md-10">
                          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.FacultyCode, "Faculty Code", htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-md-10">
                          @Html.EditorFor(model => model.FacultyCode, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.FacultyCode, "", new { @class = "text-danger" })
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-md-offset-2 col-md-10">
                          <input type="submit" value="Add" class="btn btn-danger" />
                      </div>
                  </div>
                  @if (Model.FacultyList != null)
                  {
                      <table class="table table-bordered table-striped table-condensed">
                          <tbody>
                              <tr>
                                  <th>Faculty Name</th>
                                  <th>Faculty Code</th>
                                  <th></th>
                              </tr>
                          </tbody>
                          @foreach (var item in Model.FacultyList)
                          {
                              <tbody>
                                  <tr>
                                      <td>@item.Name</td>
                                      <td>@item.FacultyCode</td>
                                      <td>@Html.ActionLink("Edit", "Edit", new { @id = item.FacultyId }) |
                                      @Html.ActionLink("Delete", "Delete", new { @id = item.FacultyId })
                                      </td>

                                  </tr>
                              </tbody>
                          }
                      </table>

                  }
              </div>
          </div>
      </div>
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
