﻿@model Abundance_Rm.Areas.Admin.ViewModel.ProgrammeCourseViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript">
        var departmentId;
        $(document).ready(function () {

            var departmentId = $("#ProgrammeCourse_Programme_department_Id option:selected").val();

            if (departmentId == "50") {
                $('#levelId').hide();
                $('#SemesterId').show();
            } else {
                $('#levelId').show();
                $('#SemesterId').hide();
            }

            $("#ProgrammeCourse_Programme_department_Id").change(function () {

                $('#levelId').hide();
                $("#Semester_Id").empty();
                departmentId = $("#ProgrammeCourse_Programme_department_Id").val();
                if (departmentId == "50") {

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetSemester", "ProgrammeCourse")', // Calling json method
                        dataType: 'json',
                        data: {},

                        success: function (semesters) {
                            $("#Semester_Id").append('<option value="' + 0 + '">' +
                                '-- Select Mbbs --' + '</option>');
                            $.each(semesters, function (i, semester) {
                                $("#Semester_Id").append('<option value="' + semester.Value + '">' +
                                    semester.Text + '</option>');
                            });
                            $('#SemesterId').show();
                        },
                        error: function (ex) {
                            alert('Failed to retrieve semesters.' + ex);
                        }
                    });
                } else {
                    $('#levelId').show();
                    $('#SemesterId').hide();
                }

                return false;
            });

        });


    </script>
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div>
                    @if (TempData["Message"] != null)
                    {
                        @Html.Partial("_Message", (Abundance_Rm.Model.Model.Message)TempData["Message"])
                    }
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <h3>View Departmental Courses</h3>
                    <hr style="margin-top:0" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProgrammeCourse.Programme.ProgrammeType.Id, "Programme", new { @class = "control-label " })
                                    @Html.DropDownListFor(model => model.ProgrammeCourse.Programme.ProgrammeType.Id, (IEnumerable<SelectListItem>)ViewBag.Programmes, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProgrammeCourse.Programme.ProgrammeType.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProgrammeCourse.Programme.department.Id, "Department", new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.ProgrammeCourse.Programme.department.Id, (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProgrammeCourse.Programme.department.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Session.Id, "Session", new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none" id="levelId">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Level.Id, "Level", new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Level.Id, (IEnumerable<SelectListItem>)ViewBag.levels, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Level.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none" id="SemesterId">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Semester.Id, "Mbbs", new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>)ViewBag.Semesters, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Semester.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-10">
                                <input type="submit" value="View" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br />
            @if (Model != null)
            {

                using (Html.BeginForm("SaveCourseChanges", "ProgrammeCourse", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ProgrammeCourse.Programme.department.Id)
                    @Html.HiddenFor(model => model.ProgrammeCourse.Programme.ProgrammeType.Id)
                    if (Model.FirstSemesterCourses != null)
                    {
                        if (Model.ProgrammeCourse.Programme.department.Id == 50)
                        {
                            <div class="row">
                                <h4>
                                    @{
                                        var firstOrDefault = Model.FirstSemesterCourses.FirstOrDefault();
                                    }
                                    @if (firstOrDefault != null)
                                    {
                                        @firstOrDefault.Semester.Name
                                    }
                                </h4>

                                <!-- Table -->
                                <table class="table table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Course Title</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: black;">
                                        @for (int i = 0; i < Model.FirstSemesterCourses.Count; i++)
                                        {
                                            <tr>
                                                <td>@Html.TextBoxFor(model => model.FirstSemesterCourses[i].Course.Name, new { @class = "form-control olevel" })</td>
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Programme.Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Level.Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Semester.Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].CourseType.Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Course.Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Session.Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Id)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].CourseUnit)
                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Course.Course_Code)
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <h4>First Semester</h4>
                                                <!-- Table -->
                                                <table class="table table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Course Title</th>
                                                            <th>Course Unit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: black;">
                                                        @for (int i = 0; i < Model.FirstSemesterCourses.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>@Html.TextBoxFor(model => model.FirstSemesterCourses[i].Course.Course_Code, new { @class = "form-control olevel" })</td>
                                                                <td>@Html.TextBoxFor(model => model.FirstSemesterCourses[i].Course.Name, new { @class = "form-control olevel" })</td>
                                                                <td>@Html.TextBoxFor(model => model.FirstSemesterCourses[i].CourseUnit, new { @class = "form-control olevel" })</td>
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Programme.Id)
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Level.Id)
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Semester.Id)
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].CourseType.Id)
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Course.Id)
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Session.Id)
                                                                @Html.HiddenFor(model => model.FirstSemesterCourses[i].Id)
                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>


                                            <div class="row">
                                                <h4>Second Semester</h4>
                                                <!-- Table -->
                                                <table class="table table table-bordered table-hover table-striped">

                                                    <thead>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Course Title</th>
                                                            <th>Course Unit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="color: black;">
                                                        @for (int i = 0; i < Model.SecondSemesterCourses.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>@Html.TextBoxFor(model => model.SecondSemesterCourses[i].Course.Course_Code, new { @class = "form-control olevel" })</td>
                                                                <td>@Html.TextBoxFor(model => model.SecondSemesterCourses[i].Course.Name, new { @class = "form-control olevel" })</td>
                                                                <td>@Html.TextBoxFor(model => model.SecondSemesterCourses[i].CourseUnit, new { @class = "form-control olevel" })</td>
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].Programme.Id)
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].Level.Id)
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].Semester.Id)
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].CourseType.Id)
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].Course.Id)
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].Session.Id)
                                                                @Html.HiddenFor(model => model.SecondSemesterCourses[i].Id)
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            }
                                        }

                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="submit" value="Save Changes" class="btn btn-primary" />
                                            </div>
                                        </div>
                                            }
                                        }

        </div>
    </div>
    <div class="col-md-1"></div>
</div>
