﻿@model Abundance_Rm.Model.Model.Department

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddDepartment","Department",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    
    <div class="panel panel-danger">
        <div class="panel-heading"><h3>Department</h3></div>
        <div class="panel-body">
            @Html.Partial("_ErrorMessage")

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.faculty.Id, "Faculty Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.faculty.Id,ViewBag.faculty as SelectList ,htmlAttributes:new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.faculty.Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name,"Department Name" ,htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Department_Code,"Department Code" ,htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Department_Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department_Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-danger" />
                    </div>
                </div>
            </div>
            @if (Model.DepartmentList != null)
            {
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>Faculty Name</th>
                            <th>Faculty Code</th>
                            <th></th>
                        </tr>
                    </tbody>
                    @foreach (var item in Model.DepartmentList)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Department_Code</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { @id = item.DepartmentId }) |
                                    @Html.ActionLink("Delete", "Delete", new { @id = item.DepartmentId })
                                </td>

                            </tr>
                        </tbody>
                    }
                </table>

            }
            </div>
        

        </div>
            }

