﻿@{
    ViewBag.Title = "Processed Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
               function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
</script>

<div style="color:black">
    <h3>
        Processed Student List
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b> Processed Student List </b> displays an exportable and printable report of students by Programme and Department who's transcript has been processed.
    </p>
</div>

<iframe src="~/Report/Presenter/ProcessedTranscriptByProgramme.aspx" style="height: auto; width: 100%;" frameborder="0" scrolling="no" id="iframe" onload=' javascript:resizeIframe(this); '></iframe>

<br />

